autopep8==1.5.7
cffi==1.14.6
click==8.0.1
colorama==0.4.4
cryptography==35.0.0
fanstatic==1.1
Flask==2.0.1
fpdf==1.7.2
itsdangerous==2.0.1
Jinja2==3.0.1
js.jquery==3.3.1
MarkupSafe==2.0.1
Pillow==8.4.0
pycodestyle==2.8.0
pycparser==2.20
pymssql==2.2.2
shutilwhich==1.1.0
simplejson==3.17.5
toml==0.10.2
WebOb==1.8.7
Werkzeug==2.0.1
