<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>{% block title %}{% endblock %} - AbcBolinhas</title>
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.0-dist/css/bootstrap.min.css') }}">
{% endblock %}
</head>
<body>
{% block menu %}
<ul>
<li><a href="{{ url_for('home.rotaHome') }}">Home</a></li>
<li><a href="{{ url_for('cadForn.rotaCadForn') }}">Cadastro de Fornecedores</a></li>
<li><a href="{{ url_for('cadTransp.rotaCadTransp') }}">Cadastro de Transportadoras</a></li>
<li><a href="{{ url_for('cadUsu.rotaCadUsu') }}">Cadastro de Usuários</a></li>
<li><a href="{{ url_for('envios.rotaEnvios') }}">Envios</a></li>
<li><a href="{{ url_for('login.rotaLogin') }}">Login</a></li>
<li><a href="{{ url_for('pacotes.rotaPacotes') }}">Pacotes</a></li>
<li><a href="{{ url_for('relatorios.rotaRelatorios') }}">Relatórios</a></li>

</ul>
{% endblock %}
<div class="container">
{% block content %}{% endblock %}
{% block footer %}
<div class="col-8">&copy; Copyright 2021 by <a href="http://127.0.0.1:5000/">Luizão</a>.</div>
{% endblock %}
</div>
{% block js %}
<script src="{{ url_for('static', filename='bootstrap-5.1.0-dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
